.mapboxgl-popup {
    font-size: .75em;
}

.select {
    align-content: right;
    margin-bottom: 10px;
}

.resource-link {
    font-style: italic;
}

/* .footer {
    position: absolute;
    bottom: 0;
} */